@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(
        (
          -1 * (var(--carousel-total-items) * var(--carousel-item-width)) -
            ((var(--carousel-total-items) * (var(--carousel-gap))))
        )
      )
    );
  }
}
