footer,
.first-section,
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--bg-footer-color);
  color: var(--white-footer-color);
  padding: 3rem 5rem 1rem;
  gap: 2rem;
  text-wrap: wrap;
  animation: fadein 2s ease-in-out;
}

.first-section,
.second-section {
  flex-direction: row;
  padding: 0;
}

.second-section {
  padding: 1rem 0rem 3rem;
  justify-content: space-between;
}

footer hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--hr-line-footer-color);
  opacity: 1;
}

.column-footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: flex-start;
  font-size: 0.875rem;
  gap: 1rem;
}

footer .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: auto;
}

footer .logo img {
  border-radius: 10px;
  width: 50px;
  height: auto;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
}

.social-media a {
  padding: 7px 5px;
  border-radius: 10px;
  background-color: var(--bg-icon-footer-color);
}

.social-media a i {
  color: var(--color-icon-footer);
}

footer ul li {
  line-height: 1.75rem;
}

footer .contact .title-line svg,
footer .certification .title-line svg {
  width: 18px;
  height: auto;
}

footer .contact .title-line h3,
footer .certification .title-line h3 {
  font-weight: 400;
  font-size: 0.875rem;
}

footer .qrCode {
  background-color: #ffffff1a;
  padding: 1.25rem 0 0.625rem;
  border-radius: 1.25rem;
}

.second-section p {
  font-size: 0.875rem;
  color: var(--dark-gray-color);
}

.second-section p a {
  text-decoration: none;
  color: var(--dark-gray-color);
  font-weight: 600;
  cursor: pointer;
}
